/* Detta är en kommentar */

body {
   font-family: arial;
    background-color: rgb(216, 216, 216);
}

.img-fluid {
    text-align: center;
}

.text-box {
    text-size-adjust: 10px;
}



/* ----------classes --------- */



/* -----------IDs------------- */




@media screen and (min-width: 600px) {
  

}
